<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/vue-router.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/mark.min.css">
    <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
</head>
<style>
    .v-enter{
        /*transform: translate(-100%,0);*/
        opacity: 0;
    }
    .v-enter-active{
        transition: all 1s ease;
    }
    .v-enter-to{
        /*transform: translate(0,0);*/
        opacity: 1;
    }
    .v-leave{
        /*transform: translate(0,0);*/
        opacity: 1;
    }
    .v-leave-active{
        transition: all 1s ease;
    }
    .v-leave-to{
        /*transform: translate(-100%,0);*/
        opacity: 0;
    }
</style>
<body>
    <div id="app">
        <nav>
            <router-link to="/">导航</router-link>
            <router-link to="/query">学习</router-link>
        </nav>
        <transition mode="out-in">
        <router-view></router-view>
        </transition>
    </div>
</body>
<script src="../static/js/components.js"></script>
<script src="../static/js/router.js"></script>
<script src="../static/js/app.js"></script>
<script>
</script>
</html>